* {
    margin: 0;
    padding: 0;
}

.big-container {
    display: flex;
    justify-content: space-around;
}

.content-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 0%), rgba(217, 217, 217, 0.80);
    border-radius: 25px;
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
}

.image-name {
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

.image-container {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.image-prpfile {
    border-radius: 50%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}


.post-content-box {
    border: 1px solid black;
    height: 60%;
    width: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-contents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.post-content-box>p {
    margin-bottom: 0;
    padding: 8px;
}

.title {
    width: 100%;
    border-bottom: 1px solid black;
}

.title>h4 {
    margin-bottom: 0;
    padding: 8px;
}

.post-contents>p {
    padding: 8px;
    padding-bottom: 0;
}

/* 半分-------------------------------------------------------------------- */

.comment-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 0%), rgba(217, 217, 217, 0.80);
    border: 2px solid black;
    width: 40%;
    border-radius: 25px;
    padding: 24px;
    height: 600px;
}

.comment-small-container {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group {
    width: 100%;
    margin-top: 32px;
}

.comment-text-box {
    width: 100%;
}

.comment-text {
    margin-top: 80px;
    width: 100%;
    height: 200px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
}

.form-group>h3 {
    text-align: center;
    margin-top: 56px;
}

.post-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cancel {
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
}

.comment-button {
    padding: 8px;
    border-radius: 8px;
    background-color: #B0E57C;
}

@media screen and (max-width:780px) {
    .big-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
    }
    .image-container {
        width: 60px;
        height: 60px;
    }
    .image-prpfile {
        border-radius: 50%;
        border: 1px solid black;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .image-name {
        margin-top: 16px;
    }
    .content-container {
        width: 80%;
        height: 400px;
    }
    .comment-container {
        width: 80%;
        margin-bottom: 64px;
        height: 400px;
    }
    .comment-small-container {
        height: 350px;
    }
    .comment-text {
        margin-top: 24px;
    }
    .form-group > h3 {
        margin-top: 0;
    }
}