* {
  margin: 0;
  padding: 0;
}

.card-header {
  text-align: center;
  background-color: whitesmoke;
  padding: 24px 0;
}

h3 {
  margin-bottom: 0;
}

.card-body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 0%), rgba(217, 217, 217, 0.60);
}
.card-body2 {
 height: 530px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 64px;
 padding: 0;
}
.yume-title-box {
  width: 80%;
}

.yume-title-area {
  padding: 8px;
  width: 100%;
}
.card {
  width: 80%;
  margin: 0 auto;
}

.yume-contents-box {
  width: 80%;
}
.yume-contents-area {
  height: 150px;
  width: 100%;
  padding: 8px;
}
.hassyu-area-box {
  /* width: 80%; */
}
.hassyu-area {
  width: 100%;
}

.post-buttons {
 width: 80%;
 display: flex;
 justify-content: space-around
}
.post-box {
  display: flex;
  justify-content: center;
  width: 80%;
}
.cancel {
 /* margin-right: 32px; */
 padding: 8px 12px;
 border-radius: 5px;
 border: none;
 background-color: #fff;
 border: 1px solid black;
}

.post {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: orange;
  border: 1px solid black;
}

.footer {
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 780px) {
  .card-body2 {
    height: 500px;
}
}