/* pagination.css */
/* .pagination { */
    /* display: flex;
    justify-content: right;
    text-align: center; */
    /* position: relative;
    margin-top: -60px; */
/* } */



/* .pagination li {
    display: inline-block;
    margin-right: 10px;
} */
.pagination-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 64px;
}