* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #B0E57C;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.mypage {
  margin: 32px 64px 32px;
  padding: 64px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 0%), rgba(217, 217, 217, 0.80);
  border-radius: 30px;
}
.top-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 64px;
  height: 200px;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
  object-fit: cover;
}
.name-occupation {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  /* border-bottom: 1px solid green; */
  text-align: left;
}
.occupation {
  /* border-bottom: 1px solid green; */
  text-align: left;
}
.name span, .occupation span {
  border-bottom: 1px solid green;
}
.sns-icon {
  width: 10%;
  text-align: center;
  font-size: 80px;
}



.bottom-content {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
  height: 200px;
}

.introduction {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.1);
}
.myself {
  text-align: center;
  padding: 16px;
}
.introduction > p {
  padding: 8px;
  padding-top: 0;
}

.watch-index {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

a {
  text-decoration: none;
  color: black;
  padding: 16px;
  text-align: center;
}

.mybookmark {
  background-color: khaki;
  border-radius: 5px;
  border: 1px solid black;
}

.mypost {
  background-color: #B0E57C;
  border-radius: 5px;
  border: 1px solid black;
}

.bottom-button-box {
  margin-top: 64px;
}

.bottom-button {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

.update {
  text-decoration: none;
  background-color: orange;
  padding: 12px 24px;
  border-radius: 10px;
  text-align: center;
  color: black;
  border: 1px solid black;
  font-size: 15px;
}

.back {
  padding: 12px 24px;
  background-color: #fff;
  border: 1px solid black;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  color: black;
}


@media screen and (max-width:780px){
  .mypage {
    padding: 16px;
  }

  .top-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    align-items: center; 
    justify-content: start; 
    margin-bottom: 0;
  }
  .profile {
    min-width: 110px;
  }
  .name-occupation {
    width: 100%;
    order: 2;
    margin-top: 48px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    display: block;
    height: 20%;
  }
  .occupation {
    margin-top: 32px;
  }
  .sns-icon {
    order: 1;
    text-align: center;
    font-size: 50px;
    width: 100%;
    height: 15%;
  }

  .bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .introduction{
    width: 80%;
  }

  .watch-index {
    margin-top: 16px;
  }

  .mybookmark {
    margin-bottom: 16px;
  }
  .back {
    padding: 12px;
    background-color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    border: none;
    border: 1px solid black;
  }
  .update {
    text-decoration: none;
    background-color: orange;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-size: 16px;
  }
  
}